.App{
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
.container {
    width: auto;
    height: auto;
  }
  
  .labels {
    font-size: 22px;
    padding-left: 30px;
    color: black;
    text-align: justify;
 
  }
    
    