.image-container{
    display: flex;
    justify-content: center;
}

.box-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-right: 20px;
    transition: 200ms ease-in-out;
}

.box-container:hover{
    transform: scale(0.9);
}