#card{
    background-color: rgb(75, 75, 216);
    border-radius: 10px;
    width: 50vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 50px;
    color: white;
}