 .App{
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 300px;
  height: 200px;
  margin: 0 10px;
}

.link-container {
  margin-top: 20px;
}

.link-container a {
  margin:0px 100PX;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}